<div class="card ">
    <div class="card-header bg-info text-white  text-center ">Registration</div>
    <div class="card-body">
        <div class="row justify-content-center">
            <form   [formGroup]="ngForm" name="myForm" class="col-10">

                <div class="row">
                    <div class="mb-3 col-6 ">
                        <label for="title">Title:</label><span class="star">*</span>
                        <input formControlName="title"  [(ngModel)]="userObj.title" type="text" class="form-control"  placeholder="Enter Job Title" name="title">
                        <small *ngIf="ngForm.get('title').invalid && ngForm.get('title').touched" class="text-danger ">Title is Required </small>
                    </div>
                    
                    <div class="mb-3 col-6 " >
                        <label for="email">Email:</label><span class="star">*</span>
                        <input formControlName="email" [(ngModel)]="userObj.email" type="email" class="form-control"  placeholder="Enter Email Id" name="email"/>
                        <small *ngIf="ngForm.get('email').invalid && ngForm.get('email').touched" class="text-danger ">Email Id is Invalid </small>
                    </div>
                    <div class="mb-3 col-6 ">
                        <label for="description">Description:</label><span class="star">*</span>
                        <input formControlName="description" [(ngModel)]="userObj.description"  type="text" class="form-control" placeholder="Enter Job description" name="description">
                    </div>

                    <div class="mb-3 col-6" >
                        <label for="range">Range:</label><span class="star">*</span>
                        <input formControlName="range" [(ngModel)]="userObj.range"  type="number" class="form-control" placeholder="Enter range" name="range">
                       
                        <small *ngIf="ngForm.get('range')?.dirty && ngForm.get('range')?.touched &&ngForm.get('range')?.errors?.['pattern']" style="color: red;">Range must be in between 1 to 100</small>
                    </div>
                </div>
             

              
                <div class="text-end">
                    <button type="reset" class="btn btn-danger btn-md me-2 ">Reset</button>
                    <button [disabled]="ngForm.invalid" type="submit" (click)="onSubmit()" class="btn btn-primary btn-md ">Submit</button>
                </div>

            </form>
           
        </div>
    </div>
</div>